.lb-row {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.lb-col {
  text-align: center;
}

.lb-col img {
  width: 400px;
  height: 300px;
  filter: brightness(90%);
  padding: 0 5px;
  border-radius: 2%;
}

.lb-col p {
  font-size: 26px;
  margin: 2px;
}

.lb-col i {
  color: grey;
}

.landing_blogs_div {
  padding-bottom: 222px;
}

.landing_blogs_div h3 {
  padding-top: 124px;
  padding-bottom: 63px;
  font-size: 43px;
  font-weight: lighter;
  text-align: center;
}

.pin {
  color: rgb(182, 18, 18);
  padding-right: 4px;
}

@media screen and (max-width: 800px) {
  .lb-row {
    flex-direction: column!important;
  }

  .lb-col {
    margin: 26px;
  }

  .landing_blogs_div h3 {
    padding: 0 20px;
    font-size: 26px;
  }
}
