@import 'materialize-css/dist/css/materialize';
@import "~bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free";
@import 'navbar.scss';
@import 'landing.scss';
@import 'landing_blogs.scss';
@import 'landing_about.scss';
@import 'landing_national_parks.scss';
@import 'form.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

a:link {
  text-decoration: none;
}
