.landing-img {
  width: 100%;
  // filter: brightness(80%);
  z-index: -1;
}

.logo {
  z-index: 3;
  position: relative;
  background-color: gray;

}

.logo2 {
  display: none;
}

@media screen and (max-width: 800px) {
  .logo2 {
    display: flex;
    margin: auto;
    color: black;
    width: 90%
  }
}
