.landing_np_div {
  height: 600px;
  width: 83%;
  margin: auto;
}

.landing_np_div h3 {
  margin: 100px 0;
  text-transform: uppercase;
}

.map-pin {
  font-size: 22px;
}

.geographies {
  text-decoration: none;
}

#popover-basic a {
 color: black;
 text-decoration: none;
}

#popover-basic a:hover {
 color: black;
}

@media screen and (max-width: 800px) {
  .landing_np_div h3 {
    font-size: 26px;
  }
}
