.landing_np_div {
  max-width: 1440px;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 200px;
}

.landing_np_img_div  {
  width: 300px;
  margin: auto;
}

.landing_np_img_div img {
  width: 100%;
}

.landing_np_div h1 {
  padding-bottom: 63px;
  font-size: 70px;
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
}

.map-pin {
  font-size: 22px;
}

.geographies {
  text-decoration: none;
}

#popover-basic a {
 color: black;
 text-decoration: none;
}

#popover-basic a:hover {
 color: black;
}

.link_to_blog p {
  margin: 18px 0;
}

@media screen and (max-width: 800px) {
  .landing_np_div h3 {
    font-size: 26px;
  }
}
