.landing-img {
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  margin: 0 auto;
  filter: brightness(80%)
}

.logo {
  z-index: 3;
  position: relative;
  background-color: gray;
}

.logo2 {
  display: none;
}

@media screen and (max-width: 800px) {
  .logo2 {
    display: flex;
    margin: auto;
    color: black;
    width: 90%
  }
}
